<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>@ViewData["Title"] - Swaed</title>
    @Html.Partial("_OrgHeaderLayout")
</head>
    <body class="aside-enabled" id="kt_body" style="background:white">
        <!-- Theme mode setup on page load -->
        <script>
            var defaultThemeMode = "light";
            var themeMode;
            if (document.documentElement) {
                if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
                    themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
                } else {
                    if (localStorage.getItem("data-bs-theme") !== null) {
                        themeMode = localStorage.getItem("data-bs-theme");
                    } else {
                        themeMode = defaultThemeMode;
                    }
                }
                if (themeMode === "system") {
                    themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
                }
                document.documentElement.setAttribute("data-bs-theme", themeMode);
            }
        </script>
        <!-- Main -->
        <!-- Root -->
        <div class="d-flex flex-column flex-root">
            <!-- Page -->
            <div class="page d-flex flex-row flex-column-fluid">
                <!-- Aside -->
                <div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
                    <!-- Aside Toolbar -->
                    <div class="aside-toolbar flex-column-auto" id="kt_aside_toolbar">
                        <!-- Aside user (optional) -->
                        <!-- This section is empty in the provided example -->
                    </div>
                    <!-- /Aside Toolbar -->
                    @Html.Partial("_OrgSidBarLayout")
                    <!--begin::Footer-->
                    
                </div>
                <!--end::Aside-->
                <!--begin::Wrapper-->
                <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                    <!-- Your content goes here -->
					@Html.Partial("_OrgToolBarLayout")
				    <div class="Container mt-5">
					    @RenderBody()
				    </div>
			    </div>
                <!--end::Wrapper-->
                <!--end::Footer-->
				<!--begin::Footer-->
				@* <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
					<!--begin::Container-->
					<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
						<!--begin::Copyright-->                               éééé
						<div class="text-gray-900 order-2 order-md-1">
							<span class="text-muted fw-semibold me-1">2023&copy;</span>
							<a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Keenthemes</a>
						</div>
						<!--end::Copyright-->
						<!--begin::Menu-->
						<ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
							<li class="menu-item">
								<a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
							</li>
							<li class="menu-item">
								<a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
							</li>
							<li class="menu-item">
								<a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
							</li>
						</ul>
						<!--end::Menu-->
					</div>
					<!--end::Container-->
				</div> *@
				<!--end::Footer-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
		</div>
		<!--end::Root-->
	</body>
	<!--end::Body-->
</html>
<script>
	$(document).ready(function () {
		var successMessage = '@TempData["SuccessMessage"]';
		var errorMessage = '@TempData["ErrorMessage"]';

		if (successMessage) {
			toastr.success(successMessage);
		}

		if (errorMessage) {
			toastr.error(errorMessage);
		}
	});
</script>